<%- include('includes/header') %>
<%- include('includes/navbar') %>

<div class="conteiner" style="color: aliceblue;">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class=" text-center my-5">Agenda</h1>
            <p class="text-center leand">Seus contatos estão abixo</p>
        
            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>Luiz</td>
                        <td>Otavio</td>
                        <td>19-8933-3873</td>
                        <td>Otavio mirando.com</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer')%>